/* nav bar */

.nav {
  background-color: #033148;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navtitle img {
  margin-left: 10px;
  align-self: center;
  height: 40px;
}

.navlist ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
}

.navlist ul li {
  margin-right: 15px;
  text-align: center;
}

.navlist ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.post-ad-button {
  background-color: #f68300;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbtn button {
  background-color: #f68300;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.vertical-line {
  width: 3px;
  margin: 0px;
  height: 20px;
  background-color: white;
}

.hamburger {
  cursor: pointer;
  display: none;
  flex-direction: column;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

@media (max-width: 680px) {
  .navlist {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #033148;
    border-radius: 5px;
  }

  .navlist.open {
    display: block;
  }

  .navlist ul {
    flex-direction: column;
    align-items: center;
  }

  .navlist ul li {
    margin: 10px 0;
  }

  .vertical-line {
    width: 200px;
    height: 2px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: #143f54;
  color: white;
  padding: 20px;
}

.footerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.footerLinks {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  text-align: left;
  margin-left: 40px;
}

.footerContactUs {
  width: 90%;
  background-color: #28282b;
  border-radius: 10px;
  padding: 0px 40px 20px 40px;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
}

.footerLinks ul li {
  margin-bottom: 10px;
}

.footerLinks ul li Link,
a {
  color: white;
  text-decoration: none;
  font-family: bahnschrift;
  font-size: 18px;
}

.footerContactUs h2 {
  text-align: center;
}

.footerContactUs label {
  font-size: 18px;
  margin-bottom: 10px;
}

.footerContactUs input,
textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #d9d9d9;
}

/* Responsive styles */
@media (min-width: 768px) {
  .footerBox {
    flex-wrap: nowrap;
  }

  .footerLinks {
    width: 48%; /* Adjust the width as needed */
  }
}

/* sign up styles */

.signUpContainer {
  background-color: #1f485b;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #837f7f;
  font-family: Poppins;
  display: flex;
}

.backgroundOverlay {
  border-radius: 47px 0px 0px 47px;
  background-color: #fff;
  width: 65%;
}

.titleContainer {
  margin-top: 30px;
  margin-left: 32px;
  font-size: 64px;
  line-height: 20px;
  font-weight: 800;
  font-family: Roboto;
  color: #fff;
  display: inline-block;
  width: 500px;
}

.titleText {
  margin-block-start: 0px;
  margin-block-end: 50px;
  letter-spacing: 0.08em;
  line-height: 65px;
}

.backgroundImage {
  margin-top: 100px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

@media (max-width: 800px) {
  .signUpContainer {
    flex-direction: column;
    height: 100%;
  }

  .backgroundOverlay {
    width: 100%;
    border-radius: 47px 47px 0px 0px;
  }

  .titleContainer {
    width: fit-content;
    font-size: 40px;
    line-height: 0px;
    margin-top: 20px;
  }

  .titleText {
    line-height: 45px;
    margin-bottom: 10px;
  }

  .backgroundImage {
    margin-top: 0px;
  }
}

/* home page */

.rectangleBannerDiv {
  background-color: #143f54;
  /* width: 1440px; */
  height: 410px;
  display: flex;
  flex-direction: column;
}

.greatQualityCars {
  color: #fff;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0px 0px 80px;
}

.greatQualityCars span {
  color: #e53333;
}

.imageCont {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.container11Icon {
  width: 50%;
}

.searchBoxRectangle {
  background-color: #fff;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;

  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.findUsedCar {
  font-size: 50px;
  margin-top: 60px;
}

.thousandsOfNew {
  font-size: 18px;
  margin-top: 10px;
}

.searchBox {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carMakeOr {
  border: 3px solid #143f54;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 15px;
  color: #afafaf;
  width: 100%;
}

/*  */

.browseUsedCarsBox {
  background-color: #f2f3f3;
  padding: 20px;
}

.browseUsedCars {
  color: #143f54;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px 0px 0px 50px;
}

.usedCarCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.usedCarCard {
  width: 200px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}

.usedCarCard img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.usedCarName {
  color: #324a84;
  margin: 10px 0px 0px 10px;
}

.usedCarPrice {
  color: #52bd5c;
  margin: 10px 0px 0px 10px;
}

.usedCarCity {
  color: #afafaf;
  margin: 10px;
}

.newCarCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.newCarCard {
  width: 200px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
  text-align: center;
}

.newCarCard img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.newCarName {
  color: #324a84;
  margin: 10px 10px 0px 10px;
}

.newCarPrice {
  color: #52bd5c;
  margin: 10px 10px 0px 10px;
}

.newCarCity {
  color: #afafaf;
  margin: 10px;
}

/* -------------------------- */
.rectangleParent1 {
  height: 613.024px;
  flex-shrink: 0;
  background: #143f54;
  padding: 20px;
}

.carshopFeaturebox1Icon {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
}

.carshopFeaturebox1Icon img {
  width: 40%;
  flex-shrink: 0;
  object-fit: cover;
}

.stepInsideYourContainer {
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.stepInsideYourContainer p {
  margin: 20px;
}

.stepInsideYourContainer span {
  color: #e53333;
}

.fearureTray {
  display: flex;
  flex-direction: row;
}

.compFeature {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 30px;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
}

.compFeature img {
  width: 50px;
  margin-right: 10px;
}

.compFeature h6 {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 20px 0px 10px;
}

.compFeature p {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 20px 0px 10px;
}

/* ------- */

.sectionBrand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBrand {
  color: #000;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.carToggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  border-radius: 25px;
  background: #f2f2f2;
  width: 230px;
  padding: 5px;
}

.newCarOn {
  border-radius: 25px;
  background-color: #143f54;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

.usedCarOn {
  border-radius: 25px;
  background-color: #f2f2f2;
  color: #143f54;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}

.brandContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.carBrand {
  width: 200px;
  height: 170px;
  /* flex-shrink: 0; */
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  background-color: #0889c9;
}

.carBrand img {
  width: 100px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.carBrand p {
  color: #fff;
  margin: 10px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
}

/* profile component styles */

.profileComp {
  background-color: #143f54;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileContainer {
  margin-top: 40px;
  border-radius: 10px;
  background: #fff;
  width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textMyProfile {
  color: #143f54;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  text-align: center;
}

.profileHline {
  width: 100%;
  height: 2px;
  background-color: #143f54;
  margin-top: 20px;
}

.profileInfo {
  margin: 40px 0px;
  width: 90%;
}
.profileInfo form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.profileInfo div {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 30px;
}

.profileInfo input {
  width: 50%;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #757575;
  background: #fff;
  padding: 10px 15px;
}

.profileInfo label {
  width: 30%;
  text-align: right;
  margin-right: 20px;
}

.profileInfo button {
  border-radius: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: #f27a23;
  color: #fff;
  padding: 10px 15px;
}

/* Profile Component Responsive styles */
@media (max-width: 500px) {
  .profileInfo div {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .profileInfo input {
    width: 80%;
  }

  .profileInfo label {
    width: 90%;
    text-align: left;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
